<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        p{
            margin:0;
            color:crimson;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="../controllers/login.php">
        <table width="50%" border="1" cellspacing="0" cellpadding="10">
            <tr>
                <td>User Name:</td>
                <td><input type="text" name="user_name"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="user_password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
    <p>Tài Khoản Test Admin:</p>
    <p> User Name:nguyenvana</p>
    <p>Password:123</p>
</body>
</html>